<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>Document</title>
    <script src="./node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <p>
            {{msg}}
        </p>
        <p>v-model:<input type="text" v-model="msg"></p> 
        <p>v-model.lazy: 标签失去焦点才显示<input type="text" v-model.lazy="msg"></p> 
        <p>v-model.number: 只显示数字 <input type="text" v-model.lazy="msg"></p> 
        <p>v-model.trim: 去空格 <input type="text" v-model.lazy="msg"></p> 
        <hr>
        <h3>文本域</h3>
        <textarea cols="30" rows="10" v-model="msg"></textarea>
        <hr>
        <h3>多选框绑定数组</h3>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <p>
            <input type="checkbox" id="Xie" value="Xie" v-model="webName">
            <label for="Xie">谢沅航</label>
            <input type="checkbox" id="Wen" value="Wen" v-model="webName">
            <label for="Wen">文乐乐</label>
            <input type="checkbox" id="Lee" value="Lee" v-model="webName">
            <label for="Lee">乐乐</label>
        </p>
        <p>{{webName}}</p>
        <hr>
        <h3>单选框绑定</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="two">女</label>
            <p>你选择的性别是：{{sex}}</p>
        </p>
        <!-- lazy懒加载----标签失去焦点的时候才显示 -->
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
           msg:'hello world',
           isTrue:true,
           webName:[],
           sex:'男'
        },
        methods: {
            
        },
        computed: {

        }
    });
</script>

</html>