@charset "utf-8";
/* CSS Document */
* { margin: 0; padding: 0; }
body { font-size: 12px;  font-family: Microsoft Yahei,Arial; background-color: #f5f5f5;}
img { border: none;  }
ul, li { list-style: none; }
a { text-decoration: none;  cursor: pointer; }
input, select, button, textarea { font-size: 12px;  color: #666; outline:none;}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
i, em { font-style: normal; }
.w1200{ width:1200px; margin:0 auto;}
.clear{ clear:both}

/******************header******************/
header{height: 60px; width: 100%; background:#393d49; box-sizing: border-box; padding: 0 50px;}
.head{ width: 100%; margin: 0 auto; height: 60px; overflow: hidden; }
.nav{float: left; margin-top: 20px;}
.nav li{float: left; min-width: 100px; height: 40px; color: #333;background: #616266; margin-right: 10px; text-align: center; border-radius: 5px 5px 0 0;font-size: 16px; padding: 0 10px; box-sizing: border-box;}
.nav li:hover{background: #f5f5f5;}
.nav li:hover a{color: #333;}
.nav .nav-li{background: #f5f5f5;}
.nav .nav-li a{color: #333; }
.nav li a{line-height:40px; color: #fff;}
.nav li a i{display: inline-block;vertical-align: middle; margin-right: 3px;}
.nav li a span{display: inline-block;vertical-align: middle;}
.head-right{float: right; color: #eee; line-height: 20px; margin-top: 10px;}
.head-right span{line-height: 40px; font-size: 14px;}
.head-right-a{display: block; float: right; padding:0px; height: 20px; border-radius: 4px; background:url("../images/tbkf.png") no-repeat; color: #FFF; width: 72px;}
.head-right-gif01{background:url("../images/wwgif.gif") no-repeat;display: block; float: right; padding:0px; height: 40px; width: 40px; }
.head-right-gif02{background:url("../images/QQgif.gif") no-repeat;display: block; float: right; padding:0px; height: 40px; width: 40px; margin: 0 10px;}

.logo{float: left; height:36px; margin: 12px 30px 12px 0;}
.logo img{display: block; height: 100%; width: auto;}

.main{margin: 25px 50px;}
.mk-d{background: #FFF; margin-bottom: 10px; box-sizing: border-box; padding: 20px; font-size: 14px; color: #333; position: relative;}
.mk-ddbh{padding: 25px 20px 15px;}
.mk-ddbh-left{width: 400px;float: left;}
.mk-ddbh-right{margin-left: 450px;}
.mk-ddbh-h3{font-size: 16px; color: #333; height: 20px; margin-bottom: 10px;}
.ipt{ display: block;  background: #fff; height: 40px; border: 1px solid #cccccc; border-radius: 5px; box-sizing: border-box; padding: 0 5px;font-size: 14px;}
.ipt01{width: 100%;}
.bt{cursor: pointer; height: 40px; background: #fff; border: 1px solid #cccccc; text-align: center; font-size: 16px;}
.bt-cx{ padding: 0 25px; font-size: 16px; color:#fff; background: #56b282; border-radius: 40px; border: none; margin: 30px 0;}
.bt-cx:hover{background: #4aa374;}
.table{border-collapse: collapse;border-spacing: 0;margin: 0;padding: 0;border: none;width: 100%;  }
.table td{padding:10px 12px;line-height: 20px;}
.table-ddlb{background: #e5eaef; font-size: 14px; color: #666; margin-bottom: 60px;}
.table-ddlb thead{background: #d4e2ef; color: #333;}
.table-a{font-size: 14px; color: #666;}
.table-a:hover{color: #333;}
.table-em{ color: #666; margin: 0 3px;}

/*******温馨提示*********/
.ts-d{margin: 20px 0; font-size: 16px; color: #666; line-height: 34px;}
.ts-d-h3{ color: #333; font-size: 18px;}
.ts-d-h3 i{display: inline-block; vertical-align: middle; width: 34px; height: 34px; background: url("../images/xtb.png") no-repeat -38px -1555px;}
.ts-d-h3 span{font-size: 18px;}

.bz{width: 55px; height: 60px; position: absolute; left: -35px; top: 30px; background: url("../images/icon.png") no-repeat -470px -23px;}
.bz01{background-position: -462px -19px;}
.bz02{background-position:  -552px -19px;}

/**********提交论文*************/
.mk-tjlw .ipt01{width: 60%;}
.mk-tjlw .ipt02{width: 40%;}
.mk-tjlw-ul li{margin-bottom: 20px; overflow: hidden;}
.mk-tjlw-ul .mk-ddbh-h3{margin-bottom: 5px;}
.mk-ddbh-h3 span{font-size: 14px; color: #666;}
.mk-tex{ height: 480px; width: 100%; box-sizing: border-box; padding: 10px; font-size: 14px; color: #666; border: 1px solid #cccccc; border-radius: 5px;}
.mk-st em{color: #ef3015;}
.mk-a{display: inline-block; vertical-align: middle; margin-left: 30px; background: #ef3015; color: #FFF; font-size: 16px; height: 40px; padding: 0 20px; border-radius: 40px; text-align: center; line-height: 40px;}
.mk-a:hover{background:#EF2913;}
.mk-wd{display: block; float: left; width: 50%; overflow: hidden;}
.mk-wd span{float: left; width: 80px; line-height: 40px;}
.mk-la{margin-left: 90px; display: block;}
.mk-la .ipt01{width:80%;}

.bt-jjjc{ border-radius: 40px; padding: 0 20px; background: #56b282; border: none; color: #FFF; font-size: 16px; display:inline-block; line-height: 40px;}
.bt-jjjc:hover{ background: #489f72;}
.mk-tjlw .bz01{top: 110px;}
.mk-tjlw .bz02{top: 195px;}
.mk-tjlw .bz03{top: 830px;background-position:-632px -19px;}
.mk-tjlw .bz04{top: 1180px;background-position:-704px -19px;}

/*******弹框*********/
.max-ceng{display: block; width: 100%; height: 100%; left: 0; top: 0; background: rgba(51,51,51,0.4); position: fixed; z-index: 99;}
.tk-d{position: fixed; left: 50%; top: 50%; z-index: 100; background: #FFF; width: 580px; margin-left: -290px; margin-top: -128px;}
.tk-d-h3{background: #d4e2ef; font-size: 16px; color: #333; height: 24px; padding: 13px 15px; line-height: 24px;}
.tk-d-x{font-size: 26px; color: #666; float: right; width: 24px; height: 24px; cursor: pointer; text-align: center; line-height: 24px;}
.tk-d-x:hover{color: #333;}
.tk-nr{text-align: center; font-size: 16px; margin: 25px 20px 45px;}
.tk-nr p{ line-height: 24px; color: #ff7800; margin-bottom: 15px; font-size: 16px;}
.tk-nr-a{ display: block; margin:20px auto; width: 240px; height: 36px; line-height: 36px; border-radius: 36px; text-align: center; font-size: 14px; color: #FFF;}
.tk-nr-a01{background: #73b7f5;}
.tk-nr-a02{background: #769ec7;}

/***********提交论文修改**************/
.mk-tjlw-right{width: 430px;}
.mk-tjlw-d{position: relative;padding-right: 480px;box-sizing: border-box;}
.mk-tjlw-d .mk-tjlw-right{position: absolute; right: 20px; top: 20px;}
.mk-tjlw-right-h{font-size: 16px;color: #333; line-height: 30px; margin-bottom: 10px;}
.mk-tjlw-right-h span{color: #ff6800;font-size: 14px;}
.mk-tjlw-right-ul li{margin-bottom: 10px; overflow: hidden;}
.mk-tjlw-right-d{border: 1px solid #e6e6e6; background: #fafafa;color: #666666;padding: 13px 15px; box-sizing: border-box;}
.mk-tjlw-right-d span{display: inline-block; vertical-align: middle; height: 30px;line-height: 30px;}
.mk-tjlw-right-s1{font-size: 16px; color: #666;font-weight: bold; min-width: 150px;}
.mk-tjlw-right-s2{margin: 0 10px; color: #666;font-size: 16px;}
.mk-tjlw-right-s2 em{font-size: 18px; color: #d6a75b;}
.mk-tjlw-right-a{float: right; background: #d6a75b; color: #FFF; font-size: 14px; text-align: center; width: 100px; border-radius: 30px; height: 30px; line-height: 30px;}
.mk-tjlw-right-a:hover{background: #d69b56; }

/*********在线步骤演示***********/
.zxbz-d{width: 1100px; margin: 0 auto; text-align: center;}
.zxbz-d img{display: block; margin: 0 auto;}

.ts-p{color: red; font-size: 15px; line-height: 20px; margin: 10px 0 0;}
.mk-wd .ts-p{box-sizing: border-box; padding-left: 90px;}

.footer{text-align: center;color: #fff; background: #393d49;  height: 50px;}
.footer p{font-size: 14px; line-height: 20px; padding: 15px 0; color: #fff;}

/*****修改****/
.tjlw-item{margin-top: 10px;}
.checkboxFour{float: left;}
.checkboxFour {width: 20px;height: 20px;background: #ddd;margin: 0px;float: left;border-radius: 100%;  position: relative; overflow: hidden;  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0.0);  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0.0);  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);  }
.checkboxFour input{opacity: 0; position: absolute;left: 5px; top: 5px; -moz-opacity: 0;-khtml-opacity:0;filter:alpha(opacity=0);}
.checkboxFour label {display: block;width: 14px;  height: 14px;  border-radius: 14px;   cursor: pointer;  position: absolute;  top: 3px;  left: 3px;  z-index: 1;  background: #fff;  -webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);  -moz-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);  box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);  }
.checkboxFour input[type=checkbox]:checked + label {background: #3761cd;}
.copy-top{ margin-bottom:0px; width: 100%; overflow: hidden;}
.dx-zfx{ border-radius: 0px; background: none; width: 24px; height: 24px;}
.dx-zfx label{  background: url("../images/icon.png") no-repeat -14px -255px;-webkit-box-shadow:none;  -moz-box-shadow:none;  box-shadow:none;  width: 24px; height: 24px; top: 0; left: 0;}
.dx-zfx input[type=radio]:checked + label {  background: url("../images/icon.png") no-repeat -53px -255px;}

.mk-xz{ margin-top: 15px;}
.mk-xz-span{font-size: 16px; color: #333;margin-right: 5px;}
.mk-xz-a{display:inline-block; width: 160px; height: 40px; border-radius: 40px; border: 1px solid #cccccc; text-align: center; overflow: hidden; vertical-align: middle; margin: 0 10px;}
.mk-xz-as{border-color: #56b282;}
.mk-xz-a:hover{border-color: #56b282;}
.mk-xz-a img{display: inline-block; margin: 3px auto;}

.mk-xz-bd{margin: 20px 0;}
.mk-xz-tit{font-size: 16px; color: #4c4c4c; line-height: 30px;}
.mk-xz-left{float: left; width: 430px;}
.mk-xz-right{margin-left: 500px;padding:50px 0 0;}

.mk-xz-item{margin: 20px 0 10px; overflow: hidden;}
.mk-xz-left-s{float: left;width: 95px; font-size: 16px; color: #4c4c4c; line-height: 40px;}
.mk-input{ line-height: 40px; margin-left: 0px; border: 1px solid #cccccc; height: 40px;width: 335px; box-sizing: border-box; padding: 0 10px;float: left;font-size: 14px;}
.mk-xz-right span{ line-height: 40px; font-size: 16px; margin: 0 5px;}
.mk-bt{display: inline-block; width: 140px; height: 40px; line-height: 40px; text-align: center; vertical-align: middle;}
.mk-bt-norml{ background: #ee7000; color: #fff; font-size: 16px; border-radius: 40px; overflow: hidden;}

.mk-sm-left{width: 280px; margin: 45px 40px; float: left;}
.mk-sm-right{margin-left: 360px; width: 200px;padding-top: 15px;}
.mk-sm-left .mk-input{width: 100%; margin-bottom: 10px;}
.mk-sm-left strong{color: #333333; font-size: 16px; margin-bottom: 20px;display: block;}
.mk-sm-left p{display: block; color: #f36e5e; line-height: 26px; margin:5px 0;}

.mk-sm-right .mk-ewm img{width: 180px; height: 180px; display: block; margin: 0 auto;}
.mk-sm-right p{ text-align: center;}
.mk-sm-right p i{display: inline-block; vertical-align: middle;width: 26px; height: 26px; background: url("../images/icon.png") no-repeat -193px -255px; margin: 0 5px;}

.mk-xz-d{overflow: hidden; min-height: 221px;}
.mk-xz-box{display: inline-block;}

.mk-tjlw-ul .ts-p{ clear: both;}
.mk-xz-item .ts-p{padding-left:93px;}































